*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
:root{
    --text-color:white;
    --bg-url:url(./assets/bg-mobile.jpg);
    --stroke-color: rgb(255, 255,255,0.5);
    --switch-bg-url:url(./assets/MoonStars.svg);

}
.light{
    --text-color:black;
    --bg-url:url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgb(224, 204, 243);
    --surface-color:rgb(198, 174, 245);
    --switch-bg-url:url(./assets/Sun.svg);

}

body{
    background: var(--bg-url) no-repeat top center/cover;

}
body *{
    font-family: 'Inter', sans-serif;
    color:var(--text-color);
}
.container{
    width: 360px;
    margin: 56px auto 0px ;
    padding: 0 24px;
}
.profile img{
    display: block;
    width: 112px;
    margin: auto;
    border-radius: 50px;
    border: 1px solid rgb(103, 98, 110);
}
.profile{
    text-align: center;
    padding: 24px;
}
.profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;

}
#switch{
    position: relative;
    width: 64px;
    height: 24px;
    margin:0 auto;
}
.light #switch button{
    
    left: 0;
    right: initial;
}

#switch button{
    width: 32px;
    height: 32px;
    background:white var(--switch-bg-url) no-repeat
    center;
    border: 0;
    border-radius:50%;
    position: absolute;
    right: 0;
    z-index: 1;
    transform:translateY(-50%);
    top: 50%;
    

}
#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background:var(--surface-color);
    border: 1px solid var(--stroke-color);
    -webkit-backdrop-filter:blur(4px);
    border-radius: 9999px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
    
}
ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(103, 98, 110);
    padding: 16px 24px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255,0.1);
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter:blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition:background 0.5s;
}
ul li a:hover{
    color:rgb(136, 107, 163);
    border: 1px  solid  rgb(136, 107, 163);
    transition-duration: 1s;
    background-color: var(--surface-color)
}
#social-links{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    padding: 24px 0;
    font-size: 24px;
    
}
#social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition:  background 0.2s;
    border-radius: 50%;

}
#social-links a:hover{
    background-color: rgb(136, 107, 163);
    padding: 16px;
}
footer  {
   font-size: 14px ;
   text-align: center;
   padding: 24px 0;
}
.light{

}